language: python

python:
  - "2.6"
  - "2.7"

# command to install dependencies
install: "pip install -r requirements.txt --use-mirrors"

services:
  - couchdb

# command to run tests
script: nosetests
